nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

nav ul a {
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: row;
    grid-column: 2;
    list-style-type: none;
    justify-content: center;
    gap: 5rem;
}

.login {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    grid-column: 3;
    gap: 1.2rem;
    margin-right: 1rem;
}

.first-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-sec h1 {
    margin-bottom: 0;
}

.first-sec ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    gap: 2rem;
}

.first-sec ul li {
    background-color: aqua;
    padding: 0.5rem;
}

.second-sec {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.second-sec ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.third-sec ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2rem;
}

.third-sec ul li {
    background-color: bisque;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
}

.third-sec ul li:first-child {
    background-color: blue;
    color: white;
}


.fourth-sec ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
}

.fourth-sec ul li:last-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 1rem;
}